@{
    ViewBag.Title = "About";
}

<div class="white">
    <div class="container">
        <h2>@ViewBag.Message</h2>

        <p>
            The Velour is a local icon in Provo, Ut and the corner stone of the great music sceen we get to enjoy.
            We support and promote local talent and have helped many bands "make it" since 2006. <br /><br /> These bands like Neon Trees, and Imagine Dragons always love to 
            return and put on a good show, but not only do they grace us with their presence but we have many new and upcoming bands preforming here all the time. Our shows include everything
            from high profile bands to the battle of the band competitions we have. No matter who is playing it is high quality and great fun!
        </p>
    </div>
</div>

