@{
    ViewBag.Title = "Home Page";
}
<div class="black">
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <img class="logo" src="~/VelourWebContent/logo.png">
            </div>
        </div>
        <img class="heroimg" src="~/VelourWebContent/band1.jpg" alt="Hero img" />
    </div>

    <div class="container">
        <div class="row">
            <div class="spacer"></div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="herotxt">
                    <h2>Best Local Music</h2>
                    <p class="lead">Building local bands and preparing them for the national market since 2006.</p>
                    <p><a href="~/Show/Shows" class="btn btn-primary btn-lg">Shows &raquo;</a></p>
                </div>

            </div>
            <div class="col-md-4">

            </div>
            <div class="col-md-4">
            </div>
        </div>
    </div>
    </div>
    <footer>
        <p>&copy; @DateTime.Now.Year - VelourLive</p>
    </footer>
